email_validator==2.1.1
firebase-admin==6.5.0
htbuilder==0.6.2
numpy==1.26.4
Office365-REST-Python-Client==2.5.10
openpyxl==3.1.4
pandas==2.2.1
pillow==10.2.0
pyperclip==1.8.2
pyreadstat==1.2.6
python-dotenv==1.0.1
requests==2.29.0
scipy==1.12.0
statsmodels==0.14.2
streamlit==1.35.0
streamlit-authenticator==0.3.2
streamlit-option-menu==0.3.12
Unidecode==1.3.8
XlsxWriter==3.2.0
